.divP {
    padding: 0 6.5%;
}

@font-face {
    font-family: "Futura";
    src: url("./fonts/FuturaPTBold.otf");
}

@font-face {
    font-family: "NormalFutura";
    src: url("./fonts/FuturaPTLight.otf");
}


/*Titulo*/

.tituloAgenda {
    color: #6566AA;
    font-family: "Futura";
    font-weight: bolder;
    font-size: 2.5rem;
    margin: 1rem 0;
}

.diretorio {
    display: inline-flex;
    font-weight: 200;
    font-family: 'NormalFutura';
    font-size: 1.1rem;
    position: relative;

}
.diretorio::before{
    content: '';
    top: 5;
    left: 0;
    width: 100%;
    position: absolute;
    height: 100%;
    border-bottom: 1px solid;
    border-radius: 2px;
}

.Dflex {
    flex-direction: row;
    display: flex;
}

.agendaEventos {
    margin-right: 2rem;
    font-family: 'Futura';
    font-size: 1.5rem;
    position: relative;
}

.agendaEventos:nth-child(1):before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    height: 100%;
    border-bottom: 4px solid;
    border-radius: 2px;
}


/*Periodo*/
/*Mobile*/
@media (max-width:768px) {
    .divCal{
        display: flex;
        flex-direction: column;
    }
}

.divCal {
    display: flex;
}

.divCalForm {
    margin-right: 10%;
}

.divCalendario {
    margin-right: 5%;
}

.divCalPeriodo {
    font-family: 'Futura';
    font-size: 1.5rem;
    margin-top: 0;
}

.divCalLab {
    font-family: 'NormalFutura';
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.icons{
    display: flex;
    flex-direction: row;
    padding-left: 6.5%;
}
.icons span{
    width: 10px;
}
.classif{
    display: flex;
    flex-direction: row; 
    padding-left: 6.5%;
}

input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
label {
  position: relative;
  padding-left: 1.7em;
  display: inline-block;
}
label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 1.0em;
  width: 1.0em;
  background: #FFF;
  margin-right: 0.5em;
  border: 1px solid #999;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.75em;
  transform: translate(-50%, -50%);
  font-size: 1em;
  color: #FFF;
  opacity: 0;
  transition: all 0.2s ease;
}
label:focus::before, .checkbox label:hover::before {
  background: #DDD;
}
input:checked + label::before {
  background: #6566AA;
  border-color: #6566AA;
}
input:checked + label::after {
  opacity: 1;
}

.divCalGeneros {
    margin-top: 0;
}


/*Cards*/


.MarginCardFix{
    margin:  0 auto;
}
#divCard{
    margin: 0 auto;
    margin-top: 3rem;
    max-width: 1281.59;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.divCardBack {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 320.3975px;
    height: 240px;
}

.Cardif {
    max-width: 320.3975;
    height: 300px;
}
.CardDual{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    transition: opacity 1s ease-out;
}
.CardDual div{
    transition: opacity 1s ease-out;
}
.instituicao {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'NormalFutura';
    font-size: 0.9rem;
    padding: 0 6.5%;
    padding-top: 1rem;
}

.titulo {
    font-family: 'Futura';
    padding: 0 6.5%;
    color: white;
    margin: 1rem 0;
}

.data {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'NormalFutura';
    font-size: 0.9rem;
    padding: 0 6.5%;
}

.local {
    margin: 0.3rem 0;
    padding: 0;
    color: white;
    font-family: 'NormalFutura';
    font-size: 0.9rem;
    padding: 0 6.5%;
}

.hora {
    margin: 0.3rem 0;
    padding: 0;
    color: white;
    font-family: 'NormalFutura';
    font-size: 0.9rem;
    padding: 0 6.5%;
}

.preco {
    margin: 0.3rem 0;
    padding: 0;
    color: white;
    font-family: 'NormalFutura';
    font-size: 0.9rem;
    padding: 0 6.5%;
}

.expand {
    opacity: 0.3;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: 1rem;
}

